body{
    font-family:Arial, Helvetica, sans-serif
}

*{
    font-family: 'Montserrat';
}

body{
    .h1-type{
        text-align: center;
        cursor: default;
    }
    .h1-type::selection{
        background: none;
    }
    a{
        cursor: pointer;
    }
    header{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }
}


body{
    main{
        margin: 0 auto;
        width: 90%;
        .container{
            display: flex;
            flex-flow: column nowrap;
            .container-noticias{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-gap:30px;
                padding-bottom: 20px;
                .item{
                    max-width: 360px;
                    border-bottom: 1px solid #000000;
                    padding: 10px;
                    cursor: pointer;
                    transition: .3s;
                }
                .fecha{
                    color: #000000;
                }
                .fuente{
                    color: #000000;
                }
                .info_item{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                }
                img{
                    width: 100%;
                }
                #btnSiguiente{
                    cursor: pointer;
                }
                #btnSiguiente:hover{
                    color: #fc0505;
                }
            }
        }
    }
}

@media (max-width: 1200px){
    body{
        main{
            margin: 0 auto;
            width: 90%;
            .container{
                display: flex;
                flex-flow: column nowrap;
            }
        }
    }
}

@media (max-width: 750px){
    body{
        main{
            margin: 0 auto;
            width: 90%;
            .container{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
            justify-content: center;
            }
        }
    }
}

body{
    footer{
        width: 100%;
        background: #212529;
        text-align: center;
        padding: 20px 0px;
        h3{
            color: #FFC107;
            cursor: default;
            font-size: 18px;
        }
        h3::selection{
            background: none;
        }
        section{
            h4{
                color: #FFC107; 
            }
            #results{
                color: white;
            }
        }
    }
}
